heros.version=trunk

guava.jar=libs/guava-19.0.jar
slf4j-api.jar=libs/slf4j-api-1.7.18.jar
slf4j-simple.jar=libs/slf4j-simple-1.7.18.jar

mockito.jar=libs/mockito-all-1.9.5.jar
hamcrest.jar=libs/org.hamcrest.core_1.3.0.jar
junit.jar=libs/junit.jar
